/* MAIN VIEW */
.content {
  display: flex;
  padding: 50px 80px;
}
/* END OF MAIN VIEW */

/* GENERAL CLASSES */
.general-container {
  display: flex;
}

.general-content {
  display: flex;
  justify-content: center;
}
/* END OF GENERAL CLASSES */

/* TITLEBAR CSS */
.titlebar-container {
  display: flex;
  align-items: center;
  background-color: #77B3D4;
  padding: 10px 30px;
  width: 100%;
  z-index: 100;
  position: fixed;
}

.titlebar-image {
  float: left;
  height: 2rem;
  padding: 0 10px;
  border: 2px solid white; 
  border-radius: 7px;
}

.titlebar-image:hover {
  background-color: #c0ebf8;
  border-radius: 5px;
  cursor: pointer;
}

.titlebar-title {
  margin: auto;
  font-size: 30;
  color: white;
  font-weight: bold;
}
/* END OF TITLEBAR CSS */

/*LIST CSS */
.list-container {
  display: flex;
  flex-direction: column;
  background-color: #EBECF0;
  padding: 8px;
  margin: 0 10px;
  width: 272px;
  border-radius: 4px; 
}

.list-box {
  height: 100%;
  transition: background-color 0.2s ease;
  padding: 4px;
  border-radius: 4px;
}

.list-card-shadow {
  background-color: #D9DBE3;
}

.list-add-new-card {
  margin-top: 6px;
  border: 1px solid #EBECF0;
  padding: 4px;
  color: #52626b;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.list-add-new-card:hover {
  border: 1px solid grey;
  color: #323b41;
  font-weight: 400;
  background-color: #f1f1fc;
  cursor: pointer;
}
/*END OF LIST CSS */

/*LIST NEW CSS */
.list-new-container {
  display: flex;
  height: fit-content;
}

.list-new-button {
  width: 270px;
  border: 1px solid #b2b9bd;
  border-radius: 4px;
  background-color: #b2b9bd;
  cursor: pointer;
  color: white;
  padding: 10px 20px;
}

.list-new-button:hover {
  background-color: rgb(190, 190, 190);
}
/*END OF LIST NEW CSS */

/*LIST TITLE CSS */
.list-title-container {
  display: flex;
  align-content: center;
  padding: 8px 0;
}

.list-title-title {
  flex: 1;
  font-weight: bold;
  padding: 4px 8px;
}

.list-title-icon-container {
  flex: 0.15;
  align-self: center;
  cursor: pointer;
}
/*END OF LIST TITLE CSS */

/*CARD CSS */
.card-container {
      min-height: 10px;
      background-color: white;
      border-radius: 4px;
      padding: 10px;
      margin-bottom: 8px;
      cursor: pointer;
}

.card-container:hover {
  background-color: #F4F5F7;
}
.card-dragging {
  transform: rotate(5deg);
}
/*END OF CARD CSS */

/*CARD NEW CSS */
.card-new-text-area { 
  flex-direction: column;
  padding: 8px;
  font-family: inherit;
  border: 0.5px solid #ccc;
  background-color: #f9f9f9;
  font-size: 16px;
  border-radius: 4px;
  font-style: inherit;
}
/*END OF CARD NEW CSS */

/*ALL BOARDS CSS */
.all-boards-container{
  display: flex;
  justify-content: center;
  padding-top: 10px;
  flex: 1;
}
.all-boards-box {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.all-boards-backdrop {
  z-index: 50;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.7;
}
/*END OF ALL BOARDS CSS */

/*NEW BOARD CSS */
.new-board-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-weight: 500;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-board-content {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  background-color: #EDF6FE;
  padding: 10px;
  border-radius: 4px;
}

.new-board-title {
  padding: 10px;
  text-align: center;
}

.new-board-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.new-board-input {
  width: 100%;
  padding: 8px 4px;
}

.new-board-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding: 10px;
}

.new-board-button {
  border: 1px solid black;
  border-radius: 2px;
  padding: 6px 10px;
}

.new-board-button-confirm-valid {
  background-color: #59AC44;
  color: white;
}

.new-board-button-confirm-valid:hover {
  background-color: #60BD4E;
  cursor: pointer;
}

.new-board-button-confirm-invalid {
  background-color: #F4F5F7;
  color: grey;
  cursor: default;
}

.new-board-button-close:hover {
      background-color: #F4F5F7;
      cursor: pointer;
}
/*END OF NEW BOARD CSS */

/*BOARD CSS */
.board-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px;
}

.board-box {
  display: flex;
}
/*END OF BOARD CSS */

/*BOARD TITLE CSS */
.board-title-title {
  margin-left: 10px;
  padding: 10px 20px;
  border: 1px solid gray;
  border-radius: 4px;
  max-width: fit-content;
  background-color: #345479;
  color: white;
  font-weight: bold;
}

.board-title-title:hover {
  background-color: #6d8eb3;
  cursor: pointer;
}

.board-title-icons-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.board-title-edit {
  margin-left: 10px;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: 1px solid gray;
  border-radius: 4px;
  font-weight: bold;
}

.board-title-delete {
  margin-left: 20px;
  font-weight: bold;
  align-self: center;
}

.board-title-delete-button {
  align-self: center;
  margin-left: 20px;
  color: #345479;
}

.board-title-delete-button:hover {
  color: #6d8eb3;
  cursor: pointer;
}


.board-title-confirm-button {
  margin-left: 20px;
  color: #0e9d32;
}

.board-title-confirm-button:hover {
  color: #2fc857;
  cursor: pointer;
}

.board-title-cancel-button {
  margin-left: 0;
  color: #9d0e2a;
}

.board-title-cancel-button:hover {
  color: #d25371;
  cursor: pointer;
}
/*END OF BOARD TITLE CSS */

/*BOARD CARD CSS */
.board-card-container {
  border-radius: 4px;
  font-weight: bold;
  padding: 10px;
  max-width: 200px;
  min-width: 200px;
  min-height: 70px;
  position: relative;
  margin: 16px;
}

.board-card-color-default {
  background-color: #b6e6fc;
}

.board-card-color-default:hover {
  background-color: #b6fcf0;
  cursor: pointer;
}

.board-card-color-new {
  background-color: #dfedfd;
}

.board-card-color-new:hover {
  background-color: #b0c6e4;
  cursor: pointer;
}

.board-card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;
  box-orient: vertical;
  color: white;
}

.board-card-text-center {
  font-weight: 300;
  text-align: center;
  padding-top: 20px;
}    
/*END OF BOARD CARD CSS */