/* MAIN VIEW */
.content {
  display: flex;
  padding: 50px 80px;
}
/* END OF MAIN VIEW */

/* GENERAL CLASSES */
.general-content {
  display: flex;
  justify-content: center;
}

.dragging {
  transform: rotate(5deg);
}
/* END OF GENERAL CLASSES */

/* TITLEBAR CSS */
.container {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #77B3D4;
  padding: 10px 50px;
  width: 100%;
  z-index: 10;
  position: fixed;
}

.image {
  height: 2rem;
  padding: 0 10px;
}

.image:hover {
    background-color: #c0ebf8;
    border-radius: 5px;
  cursor: pointer;
}

.title {
  font-size: 30;
  color: white;
  font-weight: bold;
}

.title:hover {
  background-color: #c0ebf8;
  border-radius: 5px;
  padding: 6px 0px 6px;
  cursor: pointer;
}
/* END OF TITLEBAR CSS */

/*BOARD CSS */
.board-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px;
}

.board-box {
  display: flex;
}
/*END OF BOARD CSS */

/*LIST CSS */
.list-container {
  display: flex;
  flex-direction: column;
  background-color: #EBECF0;
  padding: 8px;
  margin: 0 10px;
  width: 272px;
  border-radius: 4px;
}

.list-title {
  font-weight: bold; 
  margin-bottom: 16px;
  padding: 4px 8px;
}

.list-box {
  height: 100%;
  min-height: 40px;
  transition: background-color 0.2s ease;
  padding: 4px;
  border-radius: 4px;
}
/*END OF LIST CSS */

/*LIST CARD CSS */
.list-card-container {
  min-height: 10px;
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 8px;
  cursor: pointer;
}

.list-card-container:hover {
background-color: #F4F5F7;
}
/*END OF LIST CARD CSS */

/*BOARD CARD CSS */
.board-card-container {
  border-radius: 4px;
  font-weight: bold;
  padding: 10px;
  max-width: 200px;
  min-height: 70px;
  position: relative;
  margin: 16px;
}

.board-color-default {
  background-color: #b6e6fc;
}

.board-color-default:hover {
  background-color: #b6fcf0;
  cursor: pointer;
}

.board-color-new {
  background-color: #dfedfd;
}

.board-color-new:hover {
  background-color: #b0c6e4;
  cursor: pointer;
}

.board-card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;
  box-orient: vertical;
  color: white;
}
/*END OF BOARD CARD CSS */