/* MAIN VIEW */
.content {
  display: flex;
  padding: 50px 80px;
}
/* END OF MAIN VIEW */

/* GENERAL CLASSES */
.general-content {
  display: flex;
  justify-content: center;
}
/* GENERAL CLASSES */

/* TITLEBAR CSS */
.container {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #77B3D4;
  padding: 10px 50px;
  width: 100%;
  z-index: 10;
  position: fixed;
}

.image {
  height: 2rem;
  padding: 0 10px;
  cursor: pointer;
}

.title {
  font-size: 30;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
/* END OF TITLEBAR CSS */

/*BOARD CSS */
.board-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px;
}
/*END OF BOARD CSS */

/*LIST CARD CSS */
.list-card-container {
  background-color: #EBECF0;
  padding: 10px;
  margin: 0 10px;
  width: 272px;
  border-radius: 4px;
}

.list-card-title {
  font-weight: bold;
  margin-bottom: 16px;
}

.list-card-box {
  min-height: 80px;
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 8px;
  cursor: pointer;
}
/*END OF LIST CARD CSS */

/*BOARD CARD CSS */
.board-card-container {
  border-radius: 4px;
  font-weight: bold;
  padding: 10px;
  max-width: 200px;
  min-height: 70px;
  position: relative;
  margin: 16px;
}

.board-color-default {
  background-color: #b6e6fc;
}

.board-color-default:hover {
  background-color: #b6fcf0;
  cursor: pointer;
}

.board-card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;
  box-orient: vertical;
  color: white;
}
/*END OF BOARD CARD CSS */